/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Code */
.modal-gray {
    background-color: #f8f8f8;
}

.modal-code { 
    background-color: #f8f8f8;
    padding: 0.3em 0 0.3em 1em;
}

.docsify-run-code-button,
.docsify-run-code-button span {
    cursor: pointer;
    transition: all 0.25s ease;
}

.docsify-run-code-button {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: visible;
    padding: 0.30em 0.6em;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-size: 1em;
    background: #808080;
    background: var(--theme-color, #808080);
    color: #fff;
    opacity: 0;
}

.docsify-run-code-button span {
    border-radius: 3px;
    background: inherit;
    pointer-events: none;
}

.docsify-run-code-button .error,
.docsify-run-code-button .success {
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 0;
    padding: 0.5em 0.65em;
    font-size: 0.825em;
    opacity: 0;
    transform: translate(0, -50%);
}

.docsify-run-code-button.error .error,
.docsify-run-code-button.success .success {
    opacity: 1;
    transform: translate(-115%, -50%);
}

.docsify-run-code-button:focus,
pre:hover .docsify-run-code-button {
    opacity: 1;
}